{% extends "index.html" %}

{% block style %}
<style>
thead {
    font-size: 125%;
}
table, th, td {
    border: 1px solid black;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
{% endblock %}

{% block result %}
    <img src={{img_b64}}>
    <table>
        <thead>
            <tr>
                <th>Fruit</th>
                <th>Confidence</th>
            </tr>
        </thead>
        <tbody>
            {% for item in result %}
            <tr>
                <th>{{ item }}</th>
                <td>{{ ("%.3f"|format(result[item])) }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
{% endblock %}